<p>
  Current weather conditions for Montevideo:
</p>
<dl>
  <dt>Temperature</dt>
  <dd><%= format_temperature_for @condition %></dd>
  <dt>Condition</dt>
  <dd><%= @condition.description %></dd>
</dl>
