<div id=weather>
  <h2><%= format_temperature_for @condition %></h2>
  <ul>
    <li>
      <%= @condition.name %>
    </li>
    <li>
      <%= @condition.description %>
    </li>
  </ul>
</div>
<%= map_tag_for @condition %>
