<h1>
  Ruby Weather
</h1>
<p>
  Current weather conditions for Montevideo:
</p>
<dl>
  <dt>Temperature</dt>
  <dd>15.0</dd>
  <dt>Condition</dt>
  <dd>Sunny</dd>
</dl>
<p>
  <em>2013-10-25 08:38:16 -0200</em>
</p>
